
#contenu { width:500 px; height:1000 px;
}

#titre { text-align:center; 
}

#date { width:250 px; float:left;
}

#localisation {width: 250 px; float:left;
}

#especes {width:500 px;
}

#bas_de_page {
}

body{
}

